@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Special+Elite');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@layer base {
  /* day */
  :root {
    --color-text-base: 255, 255, 255;
    /* use case: muted text on white background */
    --color-text-muted: 80, 105, 124;
    --color-text-inverted: 0, 0, 0;
    --color-text-accent: 61, 146, 207;
    --color-text-button: 80, 105, 124;
    /* use case: for background fill */
    --color-fill: 100, 126, 144;
    --color-button-accent: 61, 146, 207;
    --color-button-muted: 99, 102, 241;
  }
  /* night */
  .theme-night {
    --color-text-base: 255, 255, 255;
    --color-text-muted: 89, 90, 106;
    --color-text-inverted: 0, 0, 0;
    --color-text-accent: 57, 118, 175;
    --color-text-button: 57, 118, 175;
    --color-fill: 69, 106, 151;
    --color-button-accent: 57, 118, 175;
    --color-button-muted: 140, 157, 182;
  }
  /* sunset */
  .theme-sunset {
    --color-text-base: 255, 255, 255;
    --color-text-muted: 208, 148, 117;
    --color-text-inverted: 0, 0, 0;
    --color-text-accent: 230, 163, 117;
    --color-text-button: 158, 141, 167;
    --color-fill: 208, 148, 117;
    --color-button-accent: 230, 163, 117;
    --color-button-muted: 196, 151, 145;
  }
}
